*
    margin: 0
    box-sizing: border-box

body
    font-size: 1.5em
    font-family: "Times New Roman", Times, serif

@keyframes fade-in
    from
        opacity: 0
    to
        opacity: 1

@keyframes fly-in
    0%
        opacity: 0
        transform: translateY(-40px)

    100%
        opacity: 1
        transform: translateY(0)

.animate_fade_in
    animation: fade-in 1s

//Default target should come after all possible targets.
.sub_page
    animation: fade-in 1s

    display: none //By default all elements are hidden.

    &.default
        display: block //Default element is always shown.

    &:target
        display: block //Target element is shown

        & ~ .default
            display: none //Default is hidden when target element is preceding.
